*
{
    margin: 0;
    padding: 0;
}
  body {
      color: Black;
      font: 12px Roboto-Regular, sans-serif;
      background-color: #ffffff;
      border-top: 9px solid #3399cc;
      margin: 0;
  }
  #wrapper {
      max-width: 950px;
      margin: auto;
  }

  header {
      padding: 20px 20px;
      position: relative;
      height: 70px;
  }
  #question {
      float: right;
      padding: 0px 0px;
      margin: 0px 0px 0px 0px;
      max-height: 65px;
      font: 18px 'Roboto-Bold', sans-serif;
      color: #333333;
  }
  #question a {
      font: 14px 'Roboto-Regular', sans-serif;
      color: #999999;
  }
  #question a span{
      font: 18px 'Roboto-Bold', sans-serif;
      color: #333333;
  }
  nav {
      height: 65px;
  }
  .lineNav {
      border-top: 1px dotted #cccccc ;
  }
  nav a {
      text-decoration: none;
  }

  nav ul {
      margin: 0;
      padding: 0;
  }

  nav li {
      list-style-position: inside;
      font: 15px 'Roboto-Regular', sans-serif;
      padding: 10px;
      /*border-left: 1px dotted #cccccc ;*/
  }

  .top-menu li{
      display: inline-block;
      padding: 20px 25px;
      margin: 0;
  }
  .top-menu li.active{
      /*background-color: #29c5e6;*/
      /*color: #fff;*/
  }
  .top-menu a {
      color: #333366;
  }
  .picWrapper {
      float: inherit;
      height: 300px;
  }

  aside {
      float: left;
      width: 280px;
      font: 16px 'Roboto-Regular', sans-serif;
      color: #3399cc;
      padding: 33px 37px;
      /*background-color: red;*/
  }
  aside h2 {
      font: 22px 'Roboto-Regular', sans-serif;
      color: #3399cc;
  }
  aside p {
      padding: 33px 0px;
      font: 16px 'Roboto-Regular', sans-serif;
      color: #999999;
  }
  section {
      padding: 33px 37px;
      margin-left: 280px;
      padding-bottom: 50px;
      /*background-color: pink;*/
  }
  #section_text {
      padding: 6px 0px;
  }
  section p {
      margin-top: 6px;
      padding: 10px 0px;
      font: 16px 'Roboto-Regular', sans-serif;
      color: #999999;
  }
  .black p {
      margin-top: 6px;
      padding: 10px 0px;
      font: 16px 'Roboto-Regular', sans-serif;
      color: #000000;
  }
  section h2 {
      font: 28px 'Roboto-Regular', sans-serif;
      color: #333333;
  }
  .line {
      border-top: 1px solid #cccccc ;/* Линия слева от текста */

  }
 footer {
     background-color: #f1f1f1;
     color: #999999;
     font-size: 12px;
     height: 100px;
 }
 #footer {
     max-width: 940px;
     margin: auto;
     padding: 30px 0;
     /*height: 100px;*/
 }
 #CopyRight {
     float: left;
     font: 12px 'Roboto-Regular', sans-serif;
     /*padding: 20px;*/
     /*width: 600px;*/
 }
  #Designed {
     float: right;
     font: 12px 'Roboto-Regular', sans-serif;
 }

  /*button*/
.asideButton {
    background-color:#3399CC;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Roboto-Bold;
    font-size:14px;
    padding:13px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #b23e35;
}
.asideButton:hover {
    background-color: #4db2cc;
}
.asideButton:active {
    position:relative;
    top:1px;
}
.sectionButton {
    margin-top: 25px;
    background-color:#cc3366;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Roboto-Bold;
    font-size:16px;
    padding:13px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #b23e35;
}
.sectionButton:hover {
    background-color: #cc487c;
}
.sectionButton:active {
    position:relative;
    top:1px;
}