* {
	margin: 0;
	padding: 0;
}
body{
	color: #000;
	font: normal 14px Arial, Helvetica, sans-serif;
}
img{	
	border: 0;
}		
a{
	color: #0ebaf2;
	outline: none;
}
a:hover{
	color: #000;	
}
a:active{
	color: #c60101;
}
a:visited{
	color: #c60101;
}	
ul li{
	list-style: none;
}		
table{
    width: 100%;
	border-collapse: collapse;
}	
table td{		  			 
	vertical-align: top;	
}
input, textarea, select, button{
	font: normal 14px Arial, Helvetica, sans-serif;
	outline: none;	
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

	
/* Layout
----------------------------------*/	
.wrapper{}

.page-body{}


/* Header */	
.page-header{}


/* Footer */
.page-footer{}


/* Sidebar */
.sidebar{}
	

/* Content
----------------------------------*/