@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
}

/*@font-face {*/
/*font-family: roboto-black;*/
/*src: url(../fonts/Roboto-Black.ttf);*/
/*font-family: roboto-light;*/
/*src: url(../fonts/Roboto-Light.ttf);*/
/*}*/
body {
    background: #184872 url("../images/layout/gradien.jpg") repeat-x;
    background-image:  url("../images/layout/Background_light_top.jpg"), url("../images/layout/Background_light_button.jpg");
    background-position: top center, bottom center;
    background-repeat: no-repeat;
    font: normal 19px roboto, sans-serif;
}

img {
    border: 0;
}

a {
    color: #0ebaf2;
    outline: none;
}

a:hover {
    color: #000;
}

a:active {
    color: #c60101;
}

a:visited {
    /*color: #c60101;*/
}

ul li {
    list-style: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    vertical-align: top;
}

input, textarea, select, button {
    font: normal 14px Arial, Helvetica, sans-serif;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* Layout
----------------------------------*/
#wrapper {
    max-width: 1140px;
    margin: auto;
}

/* Header */
.page-header {
    max-width: 1140px;
    padding: 20px 0;
    height: 110px;
}

.page-header a {
    float: left;
    padding: 30px 0px 0px 22px;
}

#logo {
    padding: 0;
    margin-left: 30px;
    height: 100px;
    width: 300px;
    background: url("../images/layout/Logo_full.png") no-repeat left bottom;
}

.page-header h2 {
    float: left;
    padding: 0px;
    padding-top: 50px;
    max-width: 300px;
    font: 28px roboto-ultra-bold, sans-serif;
    color: #ffffff;
}

.page-header p {
    margin-top: 85px;
    max-width: 300px;
    font: 16px roboto, sans-serif;
    color: #ffffff;
}

.nav {
    position: relative;
    display: table;
    /*width: 700px;*/
    float: right;
    padding-top: 50px;
    font: 15px roboto, sans-serif;
    font-weight: 400;
}

.nav li {
    display: inline-block;
}

.nav a {
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    text-indent: 0px;
    border: 1px solid #a9a9a9;
    /*-moz-transition: all 1s ease-in-out;*/
    /*-o-transition: all 1s ease-in-out;*/
    -webkit-transition: all 1s ease-in-out;
    /*cursor: pointer;}*/
}

.nav a:hover {
    border-radius: 5px 5px 5px 5px;
    background-color: #568cbc;
    -webkit-transform: translate(0,20px);
    -moz-transform: translate(0,20px);
    -o-transform: translate(0,20px);
}

.nav a:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 80%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    /*padding: 5px 10px; *//* Поля */
    border: 1px solid #333; /* Параметры рамки */
}

.nav a.active {
    display: block;
    text-decoration: none;
    border-radius: 5px 5px 5px 5px;
    background-color: #568cbc;
}

.page-body {
    max-width: 1140px;
    /*width: 100%;*/
    background: #effce7 url("../images/layout/button(1140-8).png") no-repeat left bottom;
    background-color: #ffffff;
    color: #184771;
    /*min-height: 600px;*/
    margin: auto;
    padding-bottom: 6px;
}

.page-body h1 {
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    font: 40px roboto, sans-serif;
    font-weight: 700;

}

.page-body h3 {
    text-align: center;
    padding: 15px;
    font: 24px roboto, sans-serif;
    font-weight: 300;
    line-height: 140%;
}

.box-inner-left {
    background: url("../images/layout/top-left(1135-4).png") no-repeat left top;
}

.box-inner-right {
    background: url("../images/layout/top-right(5-5).png") no-repeat right top;
}

.box-inner-right hr {
    margin: 15px;
    border: none; /* Убираем границу */
    background-color: #f0f0f0; /* Цвет линии */
    color: #f0f0f0; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

.services {
    margin: 15px;
    border-top-color: #dfdfdf; /* Цвет линии сверху */
    border-top-style: solid; /* Стиль линии сверху */
    border-top-width: 1px; /* Толщина линии сверху */
}

.service {
    /*overflow: hidden;*/
    display: inline-block;
    text-align: center;
    width: 192px;
    height: 282px;
    margin: 25px 10px 0px 15px
}

.service_header_hidden {
    width: 192px;
    height: 92px;
    overflow: hidden;
    position: relative;
}
.service_header {
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    display: table-cell;
    width: 192px;
    height: 92px;
    text-align: center;
    vertical-align:middle;
    background: #ebf2f7 url("../images/layout/service(192_93).png") no-repeat left top;
}

.child {
    /*display:table-cell;*/
    /*vertical-align:middle;*/
    /*height: 100%;*/
}

.service_header_wrapper {
    -webkit-column-width: 150px;
    column-width: 150px;
}

.service h3 {  /*overflow: hidden; + display table:???*/
    -webkit-column-width: 150px;
    column-width: 150px;
    /*overflow: hidden;*/
    /*display: table;*/
    font: 24px roboto, sans-serif;
    font-weight: 700;
    padding: 15px 15px 10px 10px;
}

.service_images {
    overflow: hidden;
    line-height: 110px;
    height: 110px;
    background: #ebf2f7 url("../images/layout/service_pic(192_110).png") no-repeat left top;
}

.service_images img {
    vertical-align:middle;
}

/*Button stripe*/
.button_sprite {
    background-color: transparent;
    background-image: url("../images/layout/Button_sprite.png");
    cursor: pointer;
    display: inline-block;
    vertical-align:middle;
    white-space: nowrap;
    background-position: 0 -44px;
    color: #FFF;
    font: 17px roboto, sans-serif;
    height: 44px;
    margin: 15px 0px;
    text-decoration: none;
    min-width: 100px;
    max-width: 186px;
    text-align: center;
    line-height: 44px;
}
.button_sprite:hover{
    opacity:0.75;
}
.button_sprite:before {
    background-image: url("../images/layout/Button_sprite.png");
    content: "";
    float: left;
    background-position: left top;
    height: 44px;
    margin: 0 0 0 -4px;
    width: 4px;
}
.button_sprite:after {
    background-image: url("../images/layout/Button_sprite.png");
    content: "";
    float: right;
    background-position: right bottom;
    height: 44px;
    margin:  0 -4px 0 0;
    width: 4px;
}
/*end Button stripe*/

.service_footer {
    height: 76px;
    width: 190px;
    background: #ebf2f7;
    border-right-color: #dfdfdf; /* Цвет линии сверху */
    border-right-style: solid; /* Стиль линии сверху */
    border-right-width: 1px; /* Толщина линии сверху */
    border-left-color: #dfdfdf; /* Цвет линии слева */
    border-left-style: solid; /* Стиль линии */
    border-left-width: 1px; /* Толщина линии */
    border-bottom-color: #dfdfdf; /* Цвет линии слева */
    border-bottom-style: solid; /* Стиль линии */
    border-bottom-width: 1px; /* Толщина линии */
}

.box-button {
    width: 50px;
}

/* OUR SERVICES */
.our_services {
    max-width: 1140px;
    height: 283px;
    clear: both;
    min-width: 572px;
    margin: auto;
}

.our_services_outer {
    height: 283px;
    background: #F3F7F9 url("../images/layout/button_left(1135-7).png") no-repeat left bottom;
}

.our_services_inner {
    height: 283px;
    background: url("../images/layout/button_right(7-7).png") no-repeat right bottom;
}

.our_services h1 {
    text-align: center;
    padding: 26px 15px 0px 15px;
    font: 40px roboto, sans-serif;
    font-weight: 700;
    color: #17466F;

}

.our_services p {
    text-align: center;
    padding: 12px 25px;
    font: 19px roboto, sans-serif;
    font-weight: 300;
    color: #17466F;
    line-height: 190%;
}

/* Footer */
.page-footer {
    max-width: 1140px;
    margin: auto;
    padding: 10px 0;
    height: 148px;
}
.page-footer p {
    margin-top: 5px;
    font: 13px roboto, sans-serif;
    color: #91afc9;
}

#copyright {
    float: left;
    margin-left: 30px;
    width: 284px;
}

#link {
    display: block;
    margin-left: 30px;
    text-align: center;
    line-height: 35px;
    width: 200px;
    height: 35px;
    background:url(../images/layout/Twitter.png) no-repeat;
}

#link a {
    display: block;
    margin-left: 30px;
    text-align: center;
    line-height: 35px;
    width: 200px;
    height: 35px;
}
#link span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

#twitter {
    float: left;
    width: 165px;
}

#twitter a {
    float: left;
    margin-top: 5px;
    color: #5eacda;
    font: 13px roboto, sans-serif;
    text-decoration: none;
}

#twitter p {
    float: left;
    padding-left: 35px;
    color: #5EACDA;
}

#footer-nav {
    margin-right: 30px;
}

.nav-footer {
    float: right;
}

.nav-footer li {
    display: inline-block;
    padding: 5px 5px;
    font: 13px roboto, sans-serif;
    background: url(../images/layout/Vertival_line.png) no-repeat left 50%;
}

.nav-footer li:first-child {
    background: none;
}

.nav-footer a {
    text-decoration: none;
    padding: 2px 1px;
    color: #91AFC9;
}

.nav-footer a:hover {
    border-radius: 5px 5px 5px 5px;
    background-color: #568cbc;
}
/* Sidebar */
.sidebar {
}

/* Content
----------------------------------*/