* {
	margin: 0;
	padding: 0;
}
@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
    font-family: roboto-light;
    src: url(fonts/Roboto-Light.ttf);
}
body{
    background: #003366 url("../images/layout/gradien.jpg") repeat-y;
	color: #003366;
	font: normal 19px roboto-light, sans-serif;
}
img{	
	border: 0;
}		
a{
	color: #0ebaf2;
	outline: none;
}
a:hover{
	color: #000;	
}
a:active{
	color: #c60101;
}
a:visited{
	color: #c60101;
}	
ul li{
	list-style: none;
}		
table{
    width: 100%;
	border-collapse: collapse;
}	
table td{		  			 
	vertical-align: top;	
}
input, textarea, select, button{
	font: normal 14px Arial, Helvetica, sans-serif;
	outline: none;	
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

	
/* Layout
----------------------------------*/	
.wrapper{
    /*min-width: 572px;*/
    max-width: 920px;
    margin: auto;
}

/* Header */
.page-header{
    max-width: 1920px;
    height: 67px;

}
.nav {
    float: right;
}
.nav li {
    display: inline-block;
    padding: 5px 25px;
    margin: 0;
    /*border-left: 1px dotted #cccccc ;*/
    /*background: url(../images/Vertical_line.jpg) no-repeat left 50%;*/
    /*list-style-image: url(../images/Vertical_line.jpg);*/
}
.page-body{
    background-color: #ffffff;
    /*color: #ffffff;*/
    min-width: 572px;
    min-height: 600px;
    margin: auto;
}
.box {
    display:inline-block;
    text-align: center;
    width: 192px;
    height: 282px;
    background: /*#ebf2f7*/ url("../images/layout/box-button.png") no-repeat left bottom;
    margin-bottom: 0;
}
.box h3 {
    height: 67px;
    padding: 15px 15px 10px 10px;
    /*padding-right: 15px;*/
    overflow: hidden;/* Обрезаем все, что не помещается в область */
    /*text-overflow: ellipsis; *//* Добавляем многоточие */
    /*margin: 10px 10px;*/
    background: #ebf2f7 url("../images/layout/box-top.png") no-repeat left top;
}
.box img {
    max-width: 100%;
    display: block;
    margin:25px auto 25px;
    /*height: 110px;*/
    /*width: 192px;*/
    /*background-image: url(../images/layout/Clock.png);*/
    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*float: left;*/
    /*display: block;*/
    /*text-align: center;*/
    /*margin:0 auto;*/
    /*background-color: white;*/
    /*height: 110px;*/
    /*width: 192px;*/
    /*padding: 10px 10px;*/
    /*color: white;*/
    /*background: url("../images/layout/Clock.png") 100% 100% no-repeat; *//* Добавляем фон */
    /*background-size: contain; *//* Масштабируем фон */
}
/*.box p {*/
    /*margin: 0 0 0 0;*/
    /*padding: 12px;*/
    /*width: 70px;*/
    /*height: 50px;*/
    /*background: #ebf2f7 ;*/
/*}*/
.boximages {
    height: 87px;
    width: 192px;
}
.boxforbutton {
    /*background-color: #ff0000;*/
    height: 76px;
    width: 192px;
    background: #ebf2f7 ;
}

.blue-button {
    position: inherit;
    /*width: 60px;*/
    /*height: 10px;*/
    margin-top: 15px;
    padding:8px 24px;
    background-color:#3399CC;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #ffffff;
    text-align: center;
    /*vertical-align: baseline;*/
    display:inline;
    cursor:pointer;
    color:#ffffff;
    font: bold 14px roboto-regular, sans-serif;
    text-decoration:none;
    text-shadow:0px -1px 0px #b23e35;
}
.blue-button:hover {
    background-color: #4db2cc;
}
.blue-button:active {
    position:relative;
    top:1px;
}
.box-button {
    width: 50px;
}

/* Footer */
.page-footer{
    /*max-width: 950px;*/
    height: 100px;
    margin: auto;
    /*padding: 30px 0;*/
    background-color: #f1f1f1;
    color: #999999;
    border-top: 1px solid #cccccc ;
    font-size: 12px;
}


/* Sidebar */
.sidebar{}
	

/* Content
----------------------------------*/