/* font-family: "RockwellRegular"; */
@font-face {
    font-family: "RockwellRegular";
url("../fonts/RockwellRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RockwellBoldItalic"; */
@font-face {
    font-family: "RockwellBoldItalic";
url("../fonts/RockwellBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
}
html{
	background: #f8f5c6 url("../images/layout/background-repeat.png") repeat top center;
}
body{
	color: #000;
	font: normal 14px Arial, Helvetica, sans-serif;
	background: url("../images/layout/background-top-repeat.png") repeat-x center 30px;	
}
img{	
	border: 0;
}		
a{
	color: #0ebaf2;
	outline: none;
}
a:hover{
	color: #000;	
}
a:active{
	color: #c60101;
}
a:visited{
	color: #c60101;
}	
ul li{
	list-style: none;
}		
table{
    width: 100%;
	border-collapse: collapse;
}	
table td{		  			 
	vertical-align: top;	
}
input, textarea, select, button{
	font: normal 14px Arial, Helvetica, sans-serif;
	outline: none;	
}

h1 {
    font: 400 20px Rockwell, serif;
    color: #707070;
    margin-left: 30px;
    margin-bottom: 20px;
    /*padding-left: 0px;*/
}

h1:before {
    display: block;
    margin: 5px 0px -23px -29px;
    background: url("../images/content/arrow_left.png") center;
    height: 21px;
    width: 21px;
    content: " ";
    text-shadow: none;
}
h2, h3, h4, h5, h6{
	font-weight: normal;
}

/* Button
----------------------------------*/
.button {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    height: 19px;
    min-width: 86px;
    max-width: 150px;
    padding: 0px 10px 0px;
    border-radius: 12px 12px 12px 12px;
    background-color: #f4f3d4;
    color: #fe6847;
    text-align: center;
    font: bold 10px Arial, Helvetica, sans-serif;
    line-height: 20px;
    border: 1px solid #c86a40;
}

.button:hover {
    opacity: 0.75;
}

.button:after {
    display: block;
    margin: -12px -2px 0px 84px;
    height: 5px;
    width: 8px;
    content: " ";
    text-shadow: none;
    background: url("../images/content/arrow_left_text.png") center no-repeat;
}

.green {
    background-color: #17c2a4;
    border-bottom: 4px solid #14a58c;
}

.blue {
    background-color: #30bae7;
    border-bottom: 4px solid #299ec5;
}
/*End Button*/

	
/* Layout
----------------------------------*/	
.wrapper{
min-height: 400px;
	background: url("../images/layout/fence-repeat.png") repeat-x center top;
}

.main{
	width: 960px;
	margin: 0 auto;	
	min-height: 200px;
}

/* Header */	
.page-header{
	margin: 0 0 30px;
}
.page-header .header-extra{
	height: 45px;
	overflow: hidden;	
}

.page-header .header-primary{
	height: 117px;
	padding: 9px 0 0;
	position: relative;
}
.page-header .logo{
	width: 116px;
	height: 117px;
	float: left;
	text-indent: -90000px;
	background: url("../images/layout/logo.png") no-repeat 0 0;
}
.page-header .logo:hover{
	opacity: 0.7;
}
.page-header .search{
	width: 402px;
	height: 26px;
	margin-left: -210px;
	padding: 8px 10px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	background: url("../images/layout/background-repeat.png") repeat top center;
	border-top: solid 1px #1a876d;
	border-radius: 5px 5px 0 0;
}
.page-header .search form{
	overflow: hidden;
	background: url("../images/layout/search-repeat.png") repeat-x 0 1px;
}
.page-header .search input{
	float: left;
}
.page-header .search input[type="text"]{
	width: 300px;
	height: 22px;	
	padding: 0 10px;	
	color: #979797;
	font-size: 13px;
	border: solid 1px #aca856;
	border-right: none;
	-webkit-box-shadow:inset 0 0 15px 1px #ededed;
	box-shadow:inset 0 0 15px 1px #ededed;
}
.page-header .search input[type="text"]:focus{
	color: #000;
	border-color: #000;
}
.page-header .search input[type="submit"]{
	width: 81px;
	height: 24px;
	color: #901c03;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	text-indent: 7px;
	cursor: pointer;
	text-transform: uppercase;
	border: solid 1px #e8360f;
	background: url("../images/layout/search.png") no-repeat 58px 3px;
}
.page-header .search input[type="submit"]:hover{
	color: #000;
	border-color: #000;
}

.main-navigation{
	margin: 28px 0 0 73px;	
	/*display: inline-block;*/
	float: left;	
}
.main-navigation li{
height: 28px;
/*display: inline-block;*/
margin: 0 22px 0 0;
float: left;
}
.main-navigation li a{
	height: 21px;
	padding: 7px 12px 0;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;	
	border-radius: 3px;
}
.main-navigation li a:hover{
color: #e8eec4;
}
.main-navigation li.active a{
color: #fff;
background: url("../images/layout/main-navigation-repeat.png") repeat-x 0 0;
}

.page-header .account{
	display: none;
}

.page-header .phone{
	width: 170px;
	margin: 8px 50px 0 0;
	padding: 0 0 0 30px;
	font-size: 20px;
	color: #fff;
	float: left;
	background: url("../images/layout/phone.png") no-repeat 0 0;
}
.page-header .ads{
margin: 13px 45px 0 0;
	float: left;
	font-size: 13px;
	color: #bacde4;	
}

.social{
margin: 6px 0 0;
	float: left;
}
.social li,.social li a{
	width: 27px;
	height: 27px;
	float: left;
}
.social li{
margin: 0 5px;
	background: #3d5778;
	border-radius: 100%;
	box-shadow: 0 1px 2px 1px #7893b5;
}
.social li a{
text-indent: -90000px;
background-repeat: no-repeat;
background-position: center;
}
.social li.twitter a{
background-image: url("../images/layout/twitter.png");	
}
.social li.facebook a{
background-image: url("../images/layout/facebook.png");	
}
.social li.rss a{
background-image: url("../images/layout/rss.png");	
}
.social li.email a{
background-image: url("../images/layout/email.png");	
}
.social li:hover{
	background: #193659;
}

.page-header .profile{
margin: 13px 0 0 40px;
float: left;
}
.page-header .profile a{
color: #bacde4;
font-size: 13px;
text-decoration: none;
}
.page-header .profile a:hover{
color: #C8E0FD;
text-decoration: underline;
}

.page-header .basket{
height: 24px;
margin: 7px 0 0;
padding: 5px 12px 0 30px;
float: right;
position: relative;
text-decoration: none;
font-size: 12px;
color: #fff;
/*background: url("../images/layout/basket-repeat.png") repeat-x 0 0;	*/
background: url("../images/layout/basket-sprite.png") repeat-x 0 0;	
border: solid 1px #881c04;
border-radius: 17px;
box-sizing: border-box;
}
.page-header .basket:hover{
background-position: 0 -25px;
/*background: url("../images/layout/basket-repeat-hover.png") repeat-x 0 0;	*/
}
.page-header .basket:before{
position: absolute;
top: 4px;
left: 12px;
width: 15px;
height: 15px;
content: '';
background: url("../images/layout/basket.png") no-repeat 0 0;
}
.page-header .basket .amount{
height: 22px;
margin: -5px 3px 0 0;
padding: 5px 3px 0 0;
float: left;
box-sizing: border-box;
border-right: solid 1px #881c04;
}


.page-header .basket .total{
	
}

.page-header .basket .amount{}


/* Footer */
.page-footer{}


/* Sidebar */
.sidebar{}

.page-midle{}
.slider{
width: 100%;
height: 350px;
position: relative;
background: #fff;
border-radius: 10px;
border: solid 5px #ebe8b0;
}
.slider .slide{
padding: 6px;
display: none;
}
.slider .slide.visible{
display: block;
}
.switcher{
position: absolute;
top: 12px;
right: 15px;
width: 184px;
height: 323px;
overflow: hidden;
}
.switcher li{
width: 184px;
height: 107px;
margin: 0 0 3px;
padding: 4px 0 0 13px;
position: relative;
box-sizing: border-box;
font-size: 0;

}
.switcher li.active{

}
.switcher li img{
/*max-width: 167px;
max-height: 90px;*/
}

.switcher li a{
position: absolute;

top: 0; 
left: 0;
width: 184px;
height: 107px;
}
.switcher li.active a, .switcher li a:hover{
background: url("../images/layout/slider-pointer.png") no-repeat 0 0;
}

/*Aside*/
aside {
    float: left;
    width: 230px;
    margin-top: 15px;
    /*height: 350px;*/
    position: relative;
    /*background: #fff;*/
    /*border-radius: 10px;*/
    /*border: solid 5px #ebe8b0;*/
}

nav {
    margin-top: 12px;
    padding-top: 50px;
    padding-bottom: 12px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 10px;
    border: solid 5px #ebe8b0;
    background: #fff url("../images/layout/aside_categories.png") no-repeat 0 0;
}

nav:before {
    display: block;
    margin: -45px 0px 0px -30px;
    height: 34px;
    width: 37px;
    content: " ";
    text-shadow: none;
    background: url("../images/layout/aside_categories_left.png") center no-repeat;
}

.aside-menu li {
    font: 400 13px/19px Arial, serif;
    color: #707070;
    margin-left: 57px;
    margin-bottom: 5px;
    list-style-type: none;
    /*border-top: 1px solid #e7e7e7;*/
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #e67807;
}

.aside-menu li.active:before {
    display: inline-block;
    margin: 0px 6px 3px 0px;
    background: url("../images/content/arrow_left_text.png") center;
    height: 5px;
    width: 8px;
    content: " ";
    text-shadow: none;
}

.aside-menu a {
    color: #8f8f8f;
    text-decoration: none;
}

.aside-menu a:before {
    display: inline-block;
    margin: 0px 6px 3px 0px;
    background: url("../images/content/arrow_left_text.png") center;
    height: 5px;
    width: 8px;
    content: " ";
    text-shadow: none;
}

.responses {
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    /*text-align: center;*/
}

.response {
    display:inline-block;
    text-align: left;
    height: 78px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.response:nth-child(3) {
    border-bottom:none;
}
.avatar {
    position:relative;
    float:left;
    display:block;
    height: 55px;
    width: 55px;
    border-radius: 4px;
    border: solid 5px #ebe8b0;
    background-color: #fff;
}

.avatar img{
    max-height:55px;
    max-width:55px;
    border-radius:100%;
}

.message {
    margin: 3px 0px 0px 78px;
    height:100px;
    width:150px;
    font: 400 italic 12px Arial, sans-serif;
    color: #a5a5a5;
    letter-spacing: -1px;
}

.message a {
    font: 400 12px Arial, sans-serif;
    color: #707070;
    letter-spacing: -1px;
    text-decoration: none;

}

section {
    margin-left: 250px;
    padding-bottom: 50px;
}
/*END Aside*/

/* Content
----------------------------------*/
/*
.button{
color: red;
}
.button-green{
color: green;
}
.button.button-green{
color: pink;
}*/

